# Assessment Test

### This is the assessment test of our first part of the course.

Here we are going to check your capabilities on managing and using the basic programming concepts we have studied so far:

 * Objects and Data Structure
 * Comparison Operators
 * Statements
 * Method and Functions

## Objects and Data Structures

1. Use the string below:
 * Print the first letter of the string.
 * Print the @
 * Print the sequence "fuerteventura"
 * Split the string on @

In [1]:
my_string = "fuerteventura@2019"

In [2]:
print(my_string[0])

f

In [6]:
print(my_string[len('fuerteventura')])

@

In [8]:
print(my_string.split('@')[0])

fuerteventura

In [14]:
fuerte = my_string.split('@')
print(fuerte)

['fuerteventura', '2019']

2. Use the list below:
 * Print the second element of the list
 * Print the last element of the list
 * Print the sequence from the 4th to the 5th element
 * Print the second element of the sublist
 * Append the word "Python"
 * Pop out the sublist

In [166]:
ls = [1,2,3,[1,2,3],10]

In [167]:
print(ls[1])

2

In [168]:
print(ls[len(ls)-1])

10

In [169]:
print(ls[3:4])

[[1, 2, 3]]

In [170]:
print(ls[3][1])

2

In [172]:
ls.append('Python')

In [173]:
ls.pop(3)

[1, 2, 3]

3. Use the dictionary below:
 * Print all the keys
 * Print all the values
 * Print all the items
 * Print the value of "motorbike"
 * Print the value of "dog"
 * Calculate the differnce between the value of "bike" and the value of "cat"

In [15]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [17]:
print(list(myDict.keys()))

['car', 'bike', 'motorbike', 'pets']

In [18]:
print(list(myDict.values()))

[100, 200, 300, {'dog': 100, 'cat': 50, 'rabbit': 200}]

In [157]:
print(list(myDict.items()))

[('car', 100), ('bike', 200), ('motorbike', 300), ('pets', {'dog': 100, 'cat': 50, 'rabbit': 200})]

In [19]:
print(myDict['pets']['dog'])

100

In [20]:
print(myDict['motorbike'])

300

In [22]:
diff = myDict['bike']-myDict['pets']['cat']
print('The differnce between the value of "bike" and the value of "cat" is {}'.format(diff))

The differnce between the value of "bike" and the value of "cat" is 150

4. Use the tuple below:
 * Print the third element of the tuple
 * Get the index of number 12
 * Count how many times 30 is inside the tuple

In [24]:
t = (80, 30, 30, 12, 80, 40)

In [25]:
print(t[2])

30

In [26]:
print(t.index(12))

3

In [27]:
print(t.count(30))

2

5. In this directory there is a file named "Assessment.txt". Use the **with** method and:
 * Open the .txt file and read what's is written inside
 * Open again the "Assessment.txt" file and write inside your name. Hint: use the "append" argumnet
 * Write a new file and call it "Assessment2.txt", write inside somenthing you like.

In [151]:
with open("Assessment.txt", "r") as fr:
    fr.seek(0)
    lines = fr.readlines()
with open("Assessment.txt", "w") as fw:
    fw.write(lines[0])

In [152]:
with open("Assessment.txt", "r") as fr:
    content = fr.read()
    print(content)

Welcome to fuerteventura!

In [153]:
with open('Assessment.txt', mode = 'a') as fa: 
    fa.write('I am Davide')

In [154]:
with open('Assessment.txt', mode = 'r') as fr:
    content = fr.read()
    print(content)

Welcome to fuerteventura!
I am Davide

In [155]:
with open('Assessment2.txt', mode = 'w') as fw:
    fw.write('I really love coffee!')

In [156]:
with open('Assessment2.txt', mode = 'r') as fr:
    print(fr.read())

I really love coffee!

## Booleans

In [47]:
# Answer before running cell
2 > 3
#False

False

In [48]:
# Answer before running cell
3 <= 2
#False

False

In [49]:
# Answer before running cell
3 == 2.0
#False

False

In [51]:
# Answer before running cell
3.0 == 3
#True

True

In [53]:
# Answer before running cell
4**0.5 != 2
#False

False

In [54]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']
#3>=4 : False

False

## Comparison Operators

In [55]:
# answer before you run the code
12<5 and 6<2
#False

False

In [56]:
# answer before you run the code
3 < 8 < 9
#True

True

In [57]:
# answer before you run the code
3<9 and 12<30
#True

True

In [58]:
# answer before you run the code 
8>2 and 4>10
#False

False

In [59]:
# answer before you run the code 
3<4 and 'hello' == 'hellos'
#False

False

## Statements

6. Use the code belowe and print out if the number generated is >1, <1 or -1<number<1

In [160]:
import numpy as np
number = np.random.randn()
#number

# Insert here your if, elif, else statement
if number > 1:
    print('The number is {} and is greater than 1'.format(number))
elif number < -1:
    print('The number is {} and is smaller than -1'.format(number))
else:
    print('The number is {} and lies inside the interval [-1,1]'.format(number))

The number is 0.8298951367748467 and lies inside the interval [-1,1]

## for Loop

7. Use the list below and loop over it with the **for** method:
 * Print only the odds numbers
 * Print only the even numbers
 * Print the sum of all the numbers
 * Print only the unique numbers

In [161]:
lst = [3,5,68,3,4,19,18,5,4]

In [162]:
odds = []

for num in lst:
    if num%2!=0:
        print(num)
        odds.append(num)

3
5
3
19
5

In [163]:
even = [num for num in lst if num not in odds]

for num in even:
    print(num)

68
4
18
4

In [164]:
print("The sum of all the numbers in the list is {}".format(sum(lst)))

The sum of all the numbers in the list is 129

In [165]:
print("The unique numbers in the list are {}".format(set(lst)))

The unique numbers in the list are {3, 4, 68, 5, 18, 19}

8. Use the dictionary below and print only the values:

In [44]:
myDict= {'car': 100, 'bike':200, 'motorbike':300, 'pets':{'dog':100, 'cat':50, 'rabbit':200}}

In [71]:
#First

values = list(myDict.values())

for value in values:
    print(value)

100
200
300
{'dog': 100, 'cat': 50, 'rabbit': 200}

In [80]:
#Second

nested_dict = myDict['pets']
nested_values = list(nested_dict.values())

tot_values = [value for value in values if type(value)==int]+nested_values
tot_values

[100, 200, 300, 100, 50, 200]

## while Loop

9. Write a simple while loop that prints all numbers from 10 to 20. The loop must stop when the condition == 20. When you print out the results try to use "string formatting".

In [83]:
# Counter
k=10

while k<=20:
    print(k)
    k += 1

10
11
12
13
14
15
16
17
18
19
20

10. Write a while loop that prints out all odd numbers from 30 to 50. Save all the even numbers into a list, print the list at the end.

In [91]:
numbers = list(range(30,51))
odds = []
even = []

k = 0

print("The odds numbers between {} and {} are:\n".format(numbers[0],numbers[len(numbers)-1]))
while k<len(numbers):
    if numbers[k]%2==0:
        even.append(numbers[k])
    else:
        odds.append(numbers[k])
        print(numbers[k])
    k+=1
    
print("\nThe even numbers between {} and {} are:\n".format(numbers[0],numbers[len(numbers)-1]))

for num in even:
    print(num)

The odds numbers between 30 and 50 are:

31
33
35
37
39
41
43
45
47
49

The even numbers between 30 and 50 are:

30
32
34
36
38
40
42
44
46
48
50

11. Write a while loop that goes from 15 to 25. Print out every number, if a number is multiple of 12 break the loop, otherwise continue.

In [94]:
numbers = list(range(15,26))
num = numbers[0]

while num<=numbers[len(numbers)-1]:
    if num%12==0:
        break
    else:
        print(num)
    num+=1

15
16
17
18
19
20
21
22
23

## List Comprehension

12. Use the list comprehension method and write a list from the word "Maradona"

In [101]:
word = 'Maradona'

tokens = [a for a in word]
tokens

['M', 'a', 'r', 'a', 'd', 'o', 'n', 'a']

## Functions

13. Write a function that computes the volume of a sphere given its radius.
 * radius = 2.5 cm

In [107]:
def vol(radius):
    return (4/3)*np.pi*(radius**3)

vol(1)

4.1887902047863905

14. Write a function that takes in input a list and return only the even numbers

In [110]:
def even(iterable):
    even_in_it = []
    for num in iterable:
        if num%2==0:
            even_in_it.append(num)
    return even_in_it


even(list(range(1,18)))

[2, 4, 6, 8, 10, 12, 14, 16]

15. Write a function that checks whether a number is in a given range (Inclusive of high and low)
 * E.g: *myfunc(number, lower, higher)*

In [116]:
def in_range(num,low,high):
    if num>=low and num<=high:
        return True
    else:
        return False
    
    
print(in_range(50,20,100))
print(in_range(0.5,1,2))

True
False

16. Write a fuction that check if a given number is prime.

In [114]:
def check_prime(x):
    if x==1:
        x=x+1
    x = int(x)
    n = 2
    boolean = []
    while n<=int(np.sqrt(x)):
        boolean.append(x%n==0)
        n = n+1
    if True in boolean:
        return False
    else:
        return True

In [115]:
numbers = list(range(2,150))
primes = [check_prime(n) for n in numbers]
numbers = np.array(numbers)
list(numbers[primes])

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149]

## Congratulation!

### You have compleated the Assessment Test, now it's time to move on the other session on the course: Numpy,Pandas and Visualization