# Strings Exercises

![alt text](strings.jpeg "strings")

## Creating strings

1. Craete the string 'Data' and assign It to the variable x.

In [2]:
x = 'Data'

2. Craete the string 'Science' and assign It to the variable y.

In [3]:
y = 'Science'

3. Assign the two variables to the variable z (concatenate).

In [20]:
s = ' '
z =s.join({x,y})

4. Print the variable z.

In [21]:
print(z)

Data Science

## Slicing Strings

From the previouse exercise use the variable z:

   1. Print the first element (index=0) of the string.

In [22]:
print(z[0])

D

   2. Print the last element of the string.

In [23]:
print(z[len(z)-1])

e

   3. Print the sequence from the 2th element to the last.

In [24]:
print(z[1:])

ata Science

   4. Print the sequence from the first element to the last with the steps of 2. **[start:stop:step]**

In [25]:
print(z[0:len(z)-1:2])

Dt cec

   5. Print evarything but NOT the last letter.

In [26]:
print(z[:len(z)-1])

Data Scienc

   6. Print the string backward

In [27]:
print(z[::-1])

ecneicS ataD

## Build-in Methods

From the first exercise use the variable z:

1. Print all the string UPPER CASE.

In [28]:
z.upper()

'DATA SCIENCE'

2. Print all the string lower case.

In [29]:
z.lower()

'data science'

3. Split the string on the with space.

In [30]:
z.split(' ')

['Data', 'Science']

4. Split the string on the 'a'.

In [32]:
z.split('a')

['D', 't', ' Science']

5. Split the string on the 'e'.

In [33]:
z.split('e')

['Data Sci', 'nc', '']

## String Formatting

1. Create the varible a = 'like'

In [34]:
a = 'like'

2. Create the variable b = 'surf'

In [35]:
b = 'surf'

2. Create the variable c = 'Fuerteventura!'

In [36]:
c = 'Fuerteventura'

3. Complete the string **'I {} to {} in {}'** using the .format() method and the two previouse variable.

In [38]:
'I {} to {} in {}'.format(a,b,c)

'I like to surf in Fuerteventura'

4. Complete the string like in step #3 but invert the order of the words using the index.

In [40]:
'I {2} to {1} in {0}'.format(a,b,c)

'I Fuerteventura to surf in like'

# Nice Job!