# Intro to Pandas

## Series

In [1]:
# basic imports
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

### Create  series

1. Create a series within a range from 1 to 10

In [8]:
#Lets create a Series 

series_range = pd.Series(range(1,10), index = ['A','B','C','D','E','F','G','H','I'])

#Show
series_range

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64

2. Check the type of the series

In [9]:
# check the type
series_range.dtype

dtype('int64')

3. Show the value inside the series

In [11]:
#Lets show the values
series_range.values

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

4. Show the index of the series

In [12]:
#Lets show the index
series_range.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype='object')

###  Series and index

5. Given the two list belove create a series with proper data and index

In [14]:
values = [10,20,30,40,50]
index = ['Rome','Madrid','Barcelona','London','Paris']

In [15]:
# Create the series 
european_cities = pd.Series(values, index = index)

#Show
european_cities

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64

From now we will continue to work on the series you have created

In [16]:
# show the index
european_cities.index

Index(['Rome', 'Madrid', 'Barcelona', 'London', 'Paris'], dtype='object')

6. Grab the value of Madrid

In [17]:
# Grab the value
european_cities['Madrid']

20

#### Array operations

7. Check what city has the value upper than 30

In [18]:
#Check the value
european_cities[european_cities>30]

London    40
Paris     50
dtype: int64

8. Check the value upper than 30 but get back a boolean series

In [19]:
# Boolean Series
european_cities>30

Rome         False
Madrid       False
Barcelona    False
London        True
Paris         True
dtype: bool

#### Series as Ordered Dictionary

9. Check if 'Rome' is inside the series

In [20]:
#Check in Series
'Rome'in european_cities

True

#### Series into Python dictionary

10. Convert the series into a python dictionary

In [21]:
# The "to_dict()" method
european_dict = dict(european_cities)

#Show
european_dict

{'Rome': 10, 'Madrid': 20, 'Barcelona': 30, 'London': 40, 'Paris': 50}

11. Convert the previouse dict back to a series

In [22]:
# Back to series use the "Series" method
european_cities_bis = pd.Series(european_dict)

# Show
european_cities_bis

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
dtype: int64

### Operation on Series

12. Run the cell below and create a new series

In [23]:
# Here we set a new index
cities = ['Rome','Madrid','Barcelona','London','Paris','Berlin']

european_cities_tris = Series(data= european_dict, index= cities)
european_cities_tris

Rome         10.0
Madrid       20.0
Barcelona    30.0
London       40.0
Paris        50.0
Berlin        NaN
dtype: float64

13. Check if there are **null** values inside the *my_series2*

In [34]:
# Null values
european_cities_tris==0

Rome         False
Madrid       False
Barcelona    False
London       False
Paris        False
Berlin       False
dtype: bool

14. Check **not null** values indside the *my_series2*

In [28]:
# not null values
european_cities_tris.notnull

<bound method Series.notnull of Rome         10.0
Madrid       20.0
Barcelona    30.0
London       40.0
Paris        50.0
Berlin        NaN
dtype: float64>

15. Give a name **"Cities Life"** to the *my_series1*

In [30]:
#Series name
european_cities.name ='Cities Life'

#Show
european_cities

Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
Name: Cities Life, dtype: int64

16. Give the name **"CITIES"** to the index of *my_series1*

In [32]:
# Name the index
european_cities.index.name ='CITIES'

#Show
european_cities

CITIES
Rome         10
Madrid       20
Barcelona    30
London       40
Paris        50
Name: Cities Life, dtype: int64

# Nice Job!