# Intro to Pandas

## Rename Index and Columns Exercises

1. Import Pandas and Numpy

In [1]:
# Basic imports
import pandas as pd
import numpy as np

#### Use the following DF

In [3]:
# set the data
npdata = np.random.randn(16).reshape(4,4)

# Create the DF
df = pd.DataFrame(data= npdata, index = ['A', 'B', 'C', 'D'], columns= ['Col1', 'Col2', 'Col3', 'Col4'])

# Show
df

       Col1      Col2      Col3      Col4
A  0.883721  1.558432 -0.772714 -0.141930
B  0.298319 -0.934107 -2.037638 -1.507889
C  0.140692 -0.082784  1.191690  1.124597
D -1.911992 -0.879669  0.853755  1.500283

## The .rename() method

1. Put all the rows indexes lower case

In [24]:
# Rows lower
new = [x.lower() for x in list(df.index)]
new_index = dict((key,value) for (key,value) in zip(list(df.index),new))
df.rename(index = new_index, inplace = True)

In [25]:
df

       Col1      Col2      Col3      Col4
a  0.883721  1.558432 -0.772714 -0.141930
b  0.298319 -0.934107 -2.037638 -1.507889
c  0.140692 -0.082784  1.191690  1.124597
d -1.911992 -0.879669  0.853755  1.500283

2. Put all the columns name upper case

In [26]:
# Columns upper
new = [x.upper() for x in list(df.columns)]
new_col = dict((key,value) for (key,value) in zip(list(df.columns),new))
df.rename(columns= new_col, inplace = True)

In [27]:
df

       COL1      COL2      COL3      COL4
a  0.883721  1.558432 -0.772714 -0.141930
b  0.298319 -0.934107 -2.037638 -1.507889
c  0.140692 -0.082784  1.191690  1.124597
d -1.911992 -0.879669  0.853755  1.500283

### Rename using mapping

3. Rename all the rows with the following names ('alfa', 'beta', 'gamma', 'teta')

In [29]:
# Rename index
new = ['alpha','beta','gamma','teta']
new_index = dict((key,value) for (key,value) in zip(list(df.index),new))
df.rename(index = new_index, inplace = True)

In [30]:
df

           COL1      COL2      COL3      COL4
alpha  0.883721  1.558432 -0.772714 -0.141930
beta   0.298319 -0.934107 -2.037638 -1.507889
gamma  0.140692 -0.082784  1.191690  1.124597
teta  -1.911992 -0.879669  0.853755  1.500283

4. Rename 'Col1' to 'A1' and 'Col4' to 'D4'

In [31]:
# Rename columns
new = ['A1','D4']
new_col = dict((key,value) for (key,value) in zip([list(df.columns)[0],list(df.columns)[2]],new))
df.rename(columns = new_col, inplace = True)

In [32]:
df

             A1      COL2        D4      COL4
alpha  0.883721  1.558432 -0.772714 -0.141930
beta   0.298319 -0.934107 -2.037638 -1.507889
gamma  0.140692 -0.082784  1.191690  1.124597
teta  -1.911992 -0.879669  0.853755  1.500283

5. Rename again all the columns of the df using the following list.

In [33]:
new_cols = ['ab','bc','cd','df']
new_col = dict((key,value) for (key,value) in zip(list(df.columns),new_cols))
df.rename(columns = new_col, inplace = True)

In [34]:
# Rename again df
df

             ab        bc        cd        df
alpha  0.883721  1.558432 -0.772714 -0.141930
beta   0.298319 -0.934107 -2.037638 -1.507889
gamma  0.140692 -0.082784  1.191690  1.124597
teta  -1.911992 -0.879669  0.853755  1.500283

# Good Job!