# Intro to Pandas

## Reindex Exercises

Import Pandas and Numpy

In [1]:
# Basic Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### .reindex() method

1. Create a series from range 1 to 6 and index every value with the letter from "A" to "F".

In [4]:
# Lets create a new series
ser1 = pd.Series(range(1,7), index=['A','B','C','D','E','F'])

In [5]:
# print the ser1
ser1

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

 2. Reindex the series and adding the letters "G" and "H"

In [12]:
# Reindex the ser1
#ser2 = ser1.reindex()

In [13]:
# print the ser2
#ser2

3. Reindex the ser2 with the letter "Z" and fill it with the value 100.

In [3]:
# Reindex ser2
ser2

### Reindexing rows and columns of DF

In [26]:
# Import numpy random.randn
from numpy.random import randn
randn_data = randn(20).reshape((5,4))

#Lets make a datafram ewith some random values
df1 = pd.DataFrame(data = randn_data, index=['A','D','E','F','G'], columns=['CL1','CL2','CL3','CL4'])

#Show
df1

        CL1       CL2       CL3       CL4
A -0.077581 -0.822122  0.845988 -0.887445
D -0.007662 -0.037144 -0.774260  0.180690
E -1.783228 -0.723801 -1.462052 -1.878145
F -0.992983  1.056568 -0.903851  1.389918
G -0.375399 -1.091669 -2.095901 -1.914368

4. Use the reindex method on df1 and add the row "B"

In [27]:
# Add row B
new_index = list(df1.index)+['B']
df1 = df1.reindex(index=new_index, fill_value='missing')
df1

          CL1        CL2       CL3       CL4
A  -0.0775813  -0.822122  0.845988 -0.887445
D -0.00766232 -0.0371441  -0.77426   0.18069
E    -1.78323  -0.723801  -1.46205  -1.87814
F   -0.992983    1.05657 -0.903851   1.38992
G   -0.375399   -1.09167   -2.0959  -1.91437
B     missing    missing   missing   missing

5. Use the reindex method on df1 and add a new column "CL5"

In [28]:
# Add new column CL5
df1 = df1.reindex(columns=list(df1.columns)+['CL5'], fill_value='missing')
df1

          CL1        CL2       CL3       CL4      CL5
A  -0.0775813  -0.822122  0.845988 -0.887445  missing
D -0.00766232 -0.0371441  -0.77426   0.18069  missing
E    -1.78323  -0.723801  -1.46205  -1.87814  missing
F   -0.992983    1.05657 -0.903851   1.38992  missing
G   -0.375399   -1.09167   -2.0959  -1.91437  missing
B     missing    missing   missing   missing  missing

### Rename columns

5. Use the .rename() method and rename the column of df1 to ('A1','B2','C3','D4')

In [30]:
# Rename df1 columns
df1 = df1.rename(columns={'CL1':'A1','CL2':'B2','CL3':'C3','CL4':'D4','CL5':'E5'})

In [31]:
df1

           A1         B2        C3        D4       E5
A  -0.0775813  -0.822122  0.845988 -0.887445  missing
D -0.00766232 -0.0371441  -0.77426   0.18069  missing
E    -1.78323  -0.723801  -1.46205  -1.87814  missing
F   -0.992983    1.05657 -0.903851   1.38992  missing
G   -0.375399   -1.09167   -2.0959  -1.91437  missing
B     missing    missing   missing   missing  missing

# Congratulation! Exercises completed!